
*
{
    margin-top:0;
    padding:0;
    
    
}


body
{
    
    font-family: 'Roboto Mono', monospace;
    color:#363636;
    font-size:20px;
    /* background-color: #fff2f2; */
    
}

#navbar
{
    width:100%;
    height:37px;
    background-color: #363636;
    color:#ffffff;
    z-index:200;
    position:fixed;
    left:0;
    top:0;
    
}



.nav-icon
{
    font-size:20px;
    padding:4px 10px;
    float:left;

}

ul
{
    display:none;
    position:fixed;
    width:100px;
    top:37px;
}

#upper-menu:hover+ul, ul:hover
{
    display:block;
}
ul>li
{
    color:#f3efef;
    background-color: #363636;
    font-size:15px;
    padding:5px 6px;
    /* border-bottom:0.5px dashed #c4c4c4;; */
}

ul>li:last-child
{
    border-bottom: none;
}

ul>li:hover
{
    background-color: #474747;
    cursor: pointer;
}

ul>li>a, ul>li>a:hover
{
    color:#f3efef;
}
    


#wrapper
{   
    margin:10vh 0;
}

.background {
  
    position:absolute;
    display:block;
    top: 0;
    left: 0;
    z-index: 0;
    /* color:#ccc5c5 */
}


#main
{
    
    margin-left:auto;
    margin-right:auto;
    z-index:100;

}

#profile-photo
{
    display:block;
    text-align: center;
}
img{
    margin-left:auto;
    margin-right:auto;
}

.description
{
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size:30px;
}

#info-button
{
    /* width:100px; */
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    font-size:15px;
}




#menu
{
    
    /* height:80vh; */
    z-index:100;
}



.menu-field
{
    font-size: 20px;
    background-color:#f8f7f5;
    border:0.5px solid #dad9d8;
    text-align: center;  
    z-index:100; 
    
}

/* .menu-field:hover
{
    background-color:#e2e1e0;
} */

#contact p
{
    text-align:left;
    font-size: medium;
    margin-left: 5vw;
}

#contact p a:hover
{
    color:rgb(189, 187, 185);
}

#about-me p
{
    text-align:justify;
    font-size: medium;
    margin-left: 5vw;
    margin-top:20px;
}


#my-projects div
{
    text-align:left;
    margin-left: 5vw;
}

#my-projects div button
{
    margin-top:10px;
}
.project-buttons
{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.project-buttons button
{
    flex:100px;
    margin:0 5px;
}

.project-popup
{
    display:none;
    position:fixed;
    left:50%;
    top:50%;
    z-index:1000;
    transform:translate(-50%,-50%);
    /* width:700px; */
    border-radius: 10px;
    border:1px solid black;
    padding:10px 5px;
    background-color:#ffffff;
    padding-left:20px;
    padding-bottom:20px;
    padding-right:20px;
    
}
.project-header
{
    border-bottom: 1px solid black;
    padding-bottom:10px;
}

.project-description
{
    padding-top:10px;
    font-size:medium;
    text-align: justify;
}
.project-description .languages
{
    
    font-size:smaller;
    text-align:right;
    margin-bottom:5px;
    
}
.languages .btn
{
    cursor: default;
}

.project-description img
{
    max-width:80%;
}

.description-text
{
    margin: 10px 0;
}
#popup-background
{
    display:none;
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:900;
    background-color:rgba(0,0,0,0.5);
    opacity:45%;
}

.hidden
{
    display:none;
}
.side-description
{


    font-size: 20px;
    text-align:center;
    /* background-image: url("3551895.jpg"); */
    background-color:#ffffff;
    
    /* color:#ececec; */
    
    
}

.page-active
{
    display:block;
    
}
.page
{
    display:none;
}


.icon
{
    width:50px;
    height:70px;
    float:left;
}

a
{
    text-decoration: none !important;
    color:#363636;
    
}

a.field-link
{
    display:block;
    width:100%;
    height:100%;
}

a:hover
{
    cursor:pointer;
    text-decoration: none;
    color:#363636;
}

.icon-th-list
{
    color:#f3efef;
}

.icon-github-circled
{
    /* color:#333; */
    color:#ffffff;
}

.icon-linkedin-squared
{
    color:#0077b5;
}
.icon-soundcloud-circled
{
    color:#ff8800;
}

.go-up-button
{
    position:fixed;
    right:50px;
    bottom:40px;
    display:none;
    font-size:40px;
    background-color:#e2e1e0;
    border:1px solid #d1d0d0;
    padding:5px 10px;
}

.sticky
{
    display:block;
    
}

@media only screen and (max-width: 991px),screen and (max-height:430px),screen and (orientation:portrait)
{
    body
    {
        overflow:scroll;
    }
    #info-button,.go-up-button
    {
        display:none;
        visibility: hidden;
    }

    .side-description
    {
        padding-top:15px;
    }

    #menu
    {
        margin-top:40px;
    }

    .description
    {
    font-size:20px;
    }

    .project-popup
    {
        width:60vw;
    }
    .project-popup img
    {
        display:none;
    }
    .project-description
    {
        text-align:left;
    }
 
    
}

@media only screen and (min-width: 992px) and (min-height:400px) and (orientation:landscape)
{
    
    #main
    {
        height:90vh;
    }

    #menu
    {
        height:60vh;
        margin-top:30vh;
        
    }

    
    
}

@media only screen and (orientation:landscape)
{
    .menu-field:hover
{
    background-color:#e2e1e0;
}
    .project-popup
    {
        width:700px;
    }
}
